.sample .reg-is-wrap {
  padding: 30px 0;
}
.sample .rq-tbl-wrap {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}
.sample .rq-tbl-wrap .reg-is-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  gap: 0 10px;
}
.sample .rq-tbl-wrap .reg-is-btn .btn-is {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100px;
  height: 40px;
  padding: 0 10px;
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sample .rq-tbl-wrap .reg-is-btn .btn-is:hover {
  opacity: 0.8;
}
.sample .rq-tbl-wrap .reg-is-btn .btn-is.confirm {
  background: #ff6600;
}
.sample .rq-tbl-wrap .reg-is-btn .btn-is.type1 {
  background: rgb(72, 72, 255);
}
.sample .rq-tbl-wrap .reg-is-btn .btn-is.type2 {
  background: yellowgreen;
}
.sample .rq-tbl-wrap .hot-guide {
  text-align: right;
}
.sample .rq-tbl {
  width: 100%;
  border-top: 1px solid #ddd;
}
.sample .rq-tbl .rq-tbl-col01 {
  width: 30%;
  min-width: 100px;
}
.sample .rq-tbl .rq-tbl-col02 {
  width: auto;
}
.sample .rq-tbl tr {
  border-bottom: 1px solid #ccc;
}
.sample .rq-tbl th {
  height: 50px;
  padding: 5px 10px;
  color: #333;
  font-weight: 500;
  text-align: left;
  background: #f9f9f9;
}
.sample .rq-tbl td {
  position: relative;
  padding: 5px 10px;
}
.sample .rq-tbl .label {
  display: block;
  position: relative;
  line-height: 1em;
}
.sample .rq-tbl .label.label-rq:after {
  content: "*";
  display: inline-block;
  color: #eb0000;
  font-size: 14px;
  line-height: 1;
}
.sample .rq-tbl .tbl-select {
  width: 100%;
  height: 40px;
  padding: 0 7px;
  color: #333;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #ddd;
  outline: none;
}
.sample .rq-tbl .tbl-select:focus {
  border-color: #aaa;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sample .rq-tbl .inp-rq-wrap {
  width: 100%;
}
.sample .rq-tbl .inp-txt {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  color: #333;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #ddd;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sample .rq-tbl .inp-txt:focus {
  border-color: #aaa;
}
.sample .rq-tbl .inp-txt[disabled] {
  background-color: #ddd;
}
.sample .rq-tbl .error-txt {
  max-height: 0;
  overflow: hidden;
  color: #eb0000;
  font-size: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sample .rq-tbl .error-txt.visible {
  max-height: 100px;
}
.sample .rq-tbl .error-txt.multi-file {
  max-height: 100px;
}
.sample .rq-tbl .g-txt span {
  color: #eb0000;
  font-weight: 700;
}
.sample .rq-tbl .tbl-select.is-empty,
.sample .rq-tbl .tbl-ta.is-empty,
.sample .rq-tbl .inp-txt.is-empty {
  border-color: #eb0000;
}
.sample .rq-tbl .tbl-select.is-empty:focus,
.sample .rq-tbl .tbl-ta.is-empty:focus,
.sample .rq-tbl .inp-txt.is-empty:focus {
  border-color: #eb0000;
}
.sample .rq-tbl .tbl-select.is-empty + .error-txt,
.sample .rq-tbl .tbl-ta.is-empty + .error-txt,
.sample .rq-tbl .inp-txt.is-empty + .error-txt {
  max-height: 100px;
}
.sample .rq-tbl .p-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 5px;
}
.sample .rq-tbl .p-num .tbl-select {
  width: 30%;
}
.sample .rq-tbl .p-num .inp-txt {
  width: calc(100% - (30% + 5px));
}
.sample .rq-tbl .p-num .rq-wrap {
  width: calc(100% - (30% + 5px));
}
.sample .rq-tbl .p-num .rq-wrap .inp-txt {
  width: 100%;
}
.sample .rq-tbl .tbl-ta-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sample .rq-tbl .tbl-ta {
  width: 100%;
  height: 150px;
  padding: 10px;
  color: #333;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #ddd;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  resize: none;
}
.sample .rq-tbl .tbl-ta:focus {
  border-color: #aaa;
}
.sample .rq-tbl .rq-wrap {
  font-size: 0;
}
.sample .rq-tbl .rq-wrap.full {
  width: 100%;
}
.sample .rq-tbl .single-file-upload .rq-wrap {
  width: 100%;
  margin-right: 5px;
}
.sample .rq-tbl .email-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 5px;
}
.sample .rq-tbl .email-row + .email-row {
  margin-top: 5px;
}
.sample .rq-tbl .email-col-half {
  width: 50%;
}
.sample .rq-tbl .email-row.self {
  display: none;
  margin-top: 5px;
}
.sample .rq-tbl .email-row.self.active {
  display: block;
}
.sample .rq-tbl .cs-inp-file-wrap .file-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sample .rq-tbl .cs-inp-file-wrap .cs-inp-file {
  display: none;
}
.sample .rq-tbl .cs-inp-file-wrap .cs-inp-file-txt {
  width: 100%;
}
.sample .rq-tbl .cs-inp-file-wrap .cs-inp-file-txt + .btn-add-file {
  margin-left: 5px;
}
.sample .rq-tbl .cs-inp-file-wrap .btn-remove-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 80px;
  height: 40px;
  margin-left: 5px;
  background: #666;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
}
.sample .rq-tbl .cs-inp-file-wrap .btn-remove-file.hidden {
  display: none;
}
.sample .rq-tbl .cs-inp-file-wrap .btn-remove-file:hover {
  opacity: 0.7;
}
.sample .rq-tbl .multi-file-upload .file-item {
  margin-bottom: 5px;
}
.sample .rq-tbl .btn-add-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 80px;
  height: 40px;
  background: #4848ff;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
}
.sample .rq-tbl .btn-add-file:hover {
  opacity: 0.7;
}
.sample .agree-box {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.sample .agree-box .ab-txt button {
  color: #0ba5ec;
  text-decoration: underline;
}

.sp-md {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.sp-md.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sp-md__mc {
  width: calc(100% - 30px);
  max-width: 450px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}
.sp-md__tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  color: #fff;
  background-color: #04c259;
}
.sp-md__cont {
  max-height: 60vh;
  overflow-y: auto;
  padding: 15px;
}
.sp-md__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
}
.sp-md__btn button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  padding: 0 15px;
  color: #fff;
  background-color: #04c259;
  border-radius: 3px;
}

@media screen and (max-width: 767px) {
  .sample .rq-tbl-wrap .reg-is-btn .btn-is {
    min-width: 80px;
    height: 35px;
  }
  .sample .rq-tbl .inp-txt {
    height: 35px;
    padding: 0 5px;
    font-size: 12px;
  }
  .sample .rq-tbl .tbl-select {
    height: 35px;
    padding: 0 2px;
    font-size: 12px;
  }
  .sample .rq-tbl .label {
    font-size: 14px;
  }
  .sample .rq-tbl .btn-add-file {
    height: 35px;
    font-size: 14px;
  }
  .sample .rq-tbl .cs-inp-file-wrap .btn-remove-file {
    height: 35px;
    font-size: 14px;
  }
  .sample .rq-tbl td {
    font-size: 12px;
  }
}
.sample-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  padding: 0 30px;
}
.sample-result .rb-txt1 {
  font-size: 1.5em;
  text-align: center;
}
.sample-result .rb-txt2 {
  margin-top: 30px;
  font-size: 1.2em;
  text-align: center;
}
/*# sourceMappingURL=sample.css.map */
